<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">
        -->
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>
    </head>
    <body ng-app="starter">
        <ion-pane>
            <ion-header-bar class="bar bar-header bar-positive">
                  <h1 class="title">My ToDo List</h1>
            </ion-header-bar>

            <ion-content padding="true">


    <div ng-controller="TodoCtrl">

            <div class="list">
              <label class="item item-input">
                <input ng-model="name" type="text" placeholder="Task Name" ng-model-instant="">
              </label>

              <label class="item item-input">
                    <textarea placeholder="Description" ng-model="desc"></textarea>
             </label>

              <button class="button button-block button-positive" ng-click="addTodo()">
                  <i class="ion-plus-circled"></i> Add Task
                </button>
            </div>
               
                    <div class="card" ng-repeat="todo in todos">
                          <div class="item item-divider">
                            {{todo.name}}
                          </div>
                          <div class="item item-text-wrap">
                            {{todo.desc}}
                        </div>
                    </div> 
        </div>                   
                </ion-content>
        </ion-pane>
    </body>
</html>